@inherits LayoutComponentBase

<RadzenLayout>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <TeamSelector />
                <LoginDisplay />
            </div>

            <article class="content px-4">
                <RadzenComponents />
                @Body
            </article>
        </main>
    </div>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">X</span>
</div>
