<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Platform Sample</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="team">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Team
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api-keys">
                <span class="bi bi-key-fill-nav-menu" aria-hidden="true"></span> API Keys
            </NavLink>
        </div>

        <AuthorizeView Roles="@Tharga.Team.Blazor.Framework.Roles.Developer">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="system-api-keys">
                        <span class="bi bi-key-fill-nav-menu" aria-hidden="true"></span> System API Keys
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="audit">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Audit
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Profile
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-person-lines-fill-nav-menu" aria-hidden="true"></span> Users
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="invites">
                <span class="bi bi-envelope-fill-nav-menu" aria-hidden="true"></span> Invites
            </NavLink>
        </div>
    </nav>
</div>
